POSTGRES_USER=stock_user
POSTGRES_PASSWORD=stock_pass
POSTGRES_DB=stock_db
SECRET_KEY=<db-secret-key>
DATABASE_HOSTNAME=<db-hostname>
DATABASE_CREDENTIALS=<user:password>
DATABASE_NAME=<db-name>
DATABASE_PORT=5432